# fly.toml app configuration file generated for farcaster-bounty-frame on 2026-02-06T05:36:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'farcaster-bounty-frame'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
